*, *:before, *:after {
  box-sizing: border-box;
}

body {

  margin:0 ;
  font-family: "SF Pro Text", "Roboto", sans-serif;
  font-size: 16px;

}

header {
  font-size: 2em;
}

h1 {
  font-size: 2em;
  color: rgba(255,255,255,1); /** white **/
  text-align: center;
  background-color: rgba(9,53,101,1);
  height: 150px;
  padding: 35px;
}
ul {
  list-style-type: none;
}
.statusbar {

}

.arrow {}



.bus-list{


}
div {
  font-size: 1.325em;

}
div.next-bus {
  background-color: rgba(0,122,255,0.25);
  font-size: 1.625em;
  padding: 15px;
  text-align: center;
}
span#featured-dest {
  font-weight: bold;
  font-size: 1.375em;
}

span#bold {
  font-weight: bold;
}
h2 {
  font-size: 1.625em;
  color: rgba(255,255,255,1); /** white **/
}
h2#g {
  color: rgba(0,0,0,1);  /** black **/
}
h3 {
  font-size: 1.375em;
  color: rgba(0,0,0,1);  /** black **/
  font-weight: bold;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 {
  font-size: 1.125em;
  color: rgba(191,222,255,0.8);   /** light blue 80% **/


}
h4#gr {
  color: rgba(74,74,74,1);  /** lighter gray for green fixed variables **/
}

h4#b {
  color: rgba(0,0,0,1);  /** black **/
}
p {
  font-size: 1.125em;
  color: rgba(255,255,255,1); /** white **/
}
p#pg {
  font-size: 1.125em;
  color: rgba(0,0,0,1);  /** black **/
}
.top {
  color: rgba(255,255,255,1); /** white **/

}

.top-gr {
  color: rgba(0,0,0,1);  /** black **/
}

.top-b {
  color: rgba(255,255,255,1); /** white **/
}

.arrives {
  font-size: 1.125em;
  color: rgba(191,222,255,0.8);

    /** light blue 80% **/
}

.arrives-gr {
  font-size: 1.125em;
  color: rgba(74,74,74,1)  /** lighter gray for green fixed variables **/
}

.arrives-b {
  font-size: 1.125em;
  color: rgba(0,0,0,1);  /** black **/
}

.large {
  font-size: 1.125em;
  color: rgba(255,255,255,1); /** white **/
}
.large-gr {
  font-size: 1.125em;
  color: rgba(0,0,0,1);  /** black **/
}

.minutes {
  font-size: 1.125em;
}

.minutes-gr {
  font-size: 1.125em;
  color: rgba(0,0,0,1);  /** black **/
}

.blue-box {
    background-color: rgba(0,41,87,100);
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0,41,87,100);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 10px;
  }

/**  li {
    font-family: "SF Pro Text", "Roboto", sans-serif;
    font-size: 1.125em;
    color: rgba(255,255,255,1);
    width: 30%;
    margin: 0;
    display:inline-block;

  }
**/
li#green{
    background-color: rgba(76,217,100,1);   /** Bright green for background**/
    border-radius: 10px;
    border: 1px solid rgba(76,217,100,1);  /** Bright green for background**/
}


li#bright {
  background-color: rgba(0,122,255,1);  /** Bright blue for background **/
  border-radius: 10px;
  border: 1px solid rgba(0,122,255,1); /** Bright blue for background **/
}
