*, *:before, *:after {
  box-sizing: border-box;
}

body {

  margin:0 ;
  font-family: "SF Pro Text", "Roboto", sans-serif;

}
.container{
  width: 420px;
  margin: 0 auto;
}


header {
  font-size: 1.5em;
  background-color: rgba(9,53,101,1);
  height: 80px;

}
.arrow {
  padding-top:18px;
  padding-left: 13px;
  float:left;
}
#arrowimg {
  width: 14px;
  height: 22px;
}
.statusbar {

}
#statusbarimg {
  width: 420px;
}
.stop-name {
  padding-top: 18px;
  padding-right: 15px;
}
h1 {
  color: rgba(255,255,255,1); /** white **/
  text-align: center;
  margin: 0;
}
h2 {
  font-size: 1.1em;
  color: rgba(0,0,0,1);  /** black **/
  font-weight: 700;
}
h3 {
  font-size: .7em;
  color: rgba(191,222,255,0.8);   /** light blue 80% **/
  font-weight: 100;
}
h3#gr {
  color: rgba(74,74,74,1);  /** lighter gray for green fixed variables **/
}

h3#b {
  color: rgba(0,0,0,1);  /** black **/
}
p {

  color: rgba(255,255,255,1); /** white **/
}
p#pg {
  color: rgba(0,0,0,1);  /** black **/
}
.blue-bar {
  background-color: rgba(0,122,255,0.25);
  font-size: 1.1em;
  padding: 15px;
  text-align: center;
}
.featured-dest {
  font-weight: bold;

}
.bold {
  font-weight: bold;
}

ul {
  list-style-type: none;
}
.bus-list{
  margin-left: 15px;
  margin-right: 15px;

}


.direction{
  margin-top: 10px;
  margin-bottom: 10px;
}


li {
  font-size: 16px;
  font-weight: lighter;
}

.blue-box {
    background-color: rgba(0,41,87,100);
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0,41,87,100);
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
    padding-left: 8px;
    clear: both;
    height: 50px;
    vertical-align: middle;
  }

li#green{
    background-color: rgba(76,217,100,1);   /** Bright green for background**/
    border-radius: 10px;
    border: 1px solid rgba(76,217,100,1);  /** Bright green for background**/
}


li#bright {
  background-color: rgba(0,122,255,1);  /** Bright blue for background **/
  border-radius: 10px;
  border: 1px solid rgba(0,122,255,1); /** Bright blue for background **/
}

.float-left{
  float: left;
}

.next {
  color: rgba(255,255,255,1); /** white **/
}

.next-gr {
  color: rgba(0,0,0,1);  /** black **/
}

.next-b {
  color: rgba(255,255,255,1); /** white **/
}

.line {
  font-size: 1.2em;
  color: rgba(255,255,255,1); /** white **/
  font-weight: 100;
  padding-top: 8px;
}

.line-gr {
  font-size: 1.2em;
  color: rgba(0,0,0,1);  /** black **/
  padding-top: 8px;
}

.extra-space{padding-left: 15px;}

.float-right{
  float: right;

}

.arrives {
  font-size: .7em;
  color: rgba(191,222,255,0.8);   /** light blue 80% **/
  float: right;
}

.arrives-gr {
  font-size: .7em;
  color: rgba(74,74,74,1)  /** lighter gray for green fixed variables **/
}

.arrives-b {
  font-size: .7em;
  color: rgba(0,0,0,1);  /** black **/
}

#frequency {
  font-size: 1.8em;
  color: white;
  line-height: 32px;

}
#frequency-gr {
  font-size: 1.8em;
  color:  rgba(0,0,0,1);
    line-height: 32px;
}
#minutes {
  color: rgba(255,255,255,1);
  padding-left: 5px;
}

span#minutes-gr {

  color: rgba(0,0,0,1);  /** black **/
  padding-left: 0;
}
